:root {
  --background: #dadee0;
  --header: #5E503F;
  --paragraph: #ae906d;
  --accent: #EAE0D5;
  --border: #181410;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
    background-color: var(--background)s;
}

a {
  font-size: 20px;
  color: var(--paragraph);
  text-decoration:none;
  padding: 50px;
}

a:hover {
  color: var(--accent);
}

.pageContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.content {
  width: 410px;
  text-align: center;
  background-color: var(--border);
  padding: 5px 10px 0 10px;
  border-radius: 8px;
}

.pageContent ul li {
  list-style-type: none;
  display: inline-block;
}

 .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.voting-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.voting-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10px;
}

.loveBtn, 
.dontLoveBtn {
  display:inline-block;
  padding: 10px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 8px;
  background-color:var(--paragraph);
  width: 50%;
}

.loveBtn:hover {
  background-color: #468f50;
  cursor: pointer;
  border-radius: 8px;
  border: solid --border;
}

.dontLoveBtn:hover {
  background-color: rgb(168, 44, 44);
  cursor: pointer;
  border-radius: 8px;
  border: solid rgb(42, 36, 36);
}

.voting-pic {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
}

#voting-image {
  width: 100%;
  height: 100%;
}

.favorite-button {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.favoriteBtn {
  padding: 10px 10px;
  margin: 10px 10px 0 0;
  border-radius: 8px;
  background-color:var(--paragraph);
  width: 100%;
}

.favoriteBtn:hover {
  color: black;
  background-color: pink;
}
