:root {
  --background: #dadee0;
  --header: #5E503F;
  --paragraph: #ae906d;
  --accent: #EAE0D5;
  --border: #181410;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
    background-color: var(--background)s;
}

a {
  font-size: 20px;
  color: var(--paragraph);
  text-decoration:none;
  padding: 10px;
}

a:hover {
  color: var(--accent);
}

 .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageContent,
.voting-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0 0 0;
}

.pageContent ul li {
  list-style-type: none;
  display: inline-block;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--border);
  padding: 5px 10px 0 10px;
  border-radius: 8px;
}

.loveBtn, .dontLoveBtn {
  padding: 10px 10px;
  margin: 10px 0 0 0;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color:var(--paragraph);
}

.loveBtn:hover {
  background-color: #468f50;
  cursor: pointer;
  border-radius: 8px;
  border: solid --border;
  }

.dontLoveBtn:hover {
  background-color: rgb(168, 44, 44);
  cursor: pointer;
  border-radius: 8px;
  border: solid rgb(42, 36, 36);
}
