:root {
    --background: #d3d3d3;
    --header: #14213D;
    --paragraph: #616161;
    --accent: #FCA311;
    --border: #181717;
}
* {
    background-color: var(--background) !important;
    font-family: monospace;
}

h1 {
    position:absolute;
    left: 25%;
    top:200px;
    font-family: 'Schoolbell';
    color: var(--header)
}

a {
    position:absolute;
    left: 25%;
    top:300px;  
    color: var(--border)
}

.confetti{
    max-width: 100%;
    display: block;
    user-select: none;
    position:absolute;
    margin-top: -150px;
 }